<!DOCTYPE html>
<html>
    <head>
        <title>Listing {{listing.title}}</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        <h1>Listing {{listing.title}}</h1>
        <p>Description: {{listing.description}}</p>
        <p>Price: £{{listing.price}}</p>
        <form action="" method="post">
            <p>
                <label for="date_from">Date from</label>
                <input type="date" name="date_from" id="date_from">
            </p>
            <p>
                <label for="date_to">Date to</label>
                <input type="date" name="date_to" id="date_to">
            </p>
            <input type = "hidden" name="listing_id" value={{listing.id}}>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>
